<footer class="footer group" role="contentinfo">

  <div class="menu menu_footer">

    <div class="container">

      {% for item in site.data.footer_sections %}

      <div role="menu" class="section {{ item.name | downcase | replace: " ", "_" }}">

        <div class="title border_bottom">{{ item.name | upcase }}</div>

        {% if page.language == "it" %}

          {% if item.item1_it %}
          <div class="footer_icon item1_it">
            <a class="menu_item {% if page.url contains item.item1url_it %}active{% endif %}" role="menuitem" href="/{{item.item1url_it}}/" title="{{item.item1_it}}"><span>{{item.item1_it}}</span></a>
          </div>
          {% endif %}

        {% else %}

          {% if item.item1 %}
          <div class="footer_icon item1">
            <a class="menu_item {% if page.url contains item.item1url %}active{% endif %}" role="menuitem" href="/{{item.item1url}}/" title="{{item.item1}}"><span>{{item.item1}}</span></a>
          </div>
          {% endif %}

        {% endif %}

        {% if page.language == "it" %}

          {% if item.item2_it %}
          <div class="footer_icon item2_it">
            <a class="menu_item {% if page.url contains item.item2url_it %}active{% endif %}" role="menuitem" href="/{{item.item2url_it}}/" title="{{item.item2_it}}"><span>{{item.item2_it}}</span></a>
          </div>
          {% endif %}

        {% else %}

          {% if item.item2 %}
          <div class="footer_icon item2">
            <a class="menu_item {% if page.url contains item.item2url %}active{% endif %}" role="menuitem" href="/{{item.item2url}}/" title="{{item.item2}}"><span>{{item.item2}}</span></a>
          </div>
          {% endif %}

        {% endif %}


        {% if page.language == "it" %}

          {% if item.item3_it %}
          <div class="footer_icon item3_it">
            <a class="menu_item {% if page.url contains item.item3url_it %}active{% endif %}" role="menuitem" href="/{{item.item3url_it}}/" title="{{item.item3_it}}"><span>{{item.item3_it}}</span></a>
          </div>
          {% endif %}

        {% else %}

          {% if item.item3 %}
          <div class="footer_icon item3">
            <a class="menu_item {% if page.url contains item.item3url %}active{% endif %}" role="menuitem" href="/{{item.item3url}}/" title="{{item.item3}}"><span>{{item.item3}}</span></a>
          </div>
          {% endif %}

        {% endif %}


        {% if item.main_website %}
        <div class="footer_icon main_website">
          <a class="menu_item" role="menuitem" href="{{item.main_website}}" title="contact us for special request by filling this form">
            <span>
              {% include svg/use.html id="icn--link" class="link_icon" %}
            </span>
            <span>accommodation website</span>
          </a>
        </div>
        {% endif %}

        {% if item.special_requests %}
        <div class="footer_icon special_requests">
          <a class="menu_item" role="menuitem" href="{{item.special_requests}}" title="contact us for special request by filling this form">
            <span>
              {% include svg/use.html id="icn--external_link" class="external_link_icon" %}
            </span>
            <span>Special requests</span>
          </a>
        </div>
        {% endif %}

        {% if item.whatsapp_booking %}
        <div class="footer_icon whatsapp">
          <a class="menu_item" role="menuitem" href="https://wa.me/{{item.whatsapp_booking}}" title="send {{item.whatsapp_booking}} ungasan a message via WhatsApp">
            <span>
              {% include svg/use.html id="icn--whatsapp" class="whatsapp_icon" %}
            </span>
            <span>Msg for infos & booking</span>
          </a>
        </div>
        {% endif %}




        {% if item.resto_hours %}
        <div class="footer_icon clock">
          <div class="menu_item" role="menuitem" title="Restaurant operating hours: {{item.resto_hours}}">
            <span>{% include svg/use.html id="icn--clock" class="clock_icon" %}</span>
            <span>Restaurant: {{item.resto_hours}}</span>
          </div>
        </div>
        {% endif %}

        {% if item.kitchen_closes %}
        <div class="footer_icon clock">
          <div class="menu_item" role="menuitem" title="Last kitchen order at {{item.kitchen_closes}}">
            <span>{% include svg/use.html id="icn--clock" class="clock_icon" %}</span>
            <span>Kitchen closes: {{item.kitchen_closes}}</span>
          </div>
        </div>
        {% endif %}

        {% if item.resto_menu_link %}
        <div class="footer_icon clock">
          <a class="menu_item" role="menuitem" href="{{item.resto_menu_link}}" title="{{item.name}} restaurant visual menu">
            <span>{% include svg/use.html id="icn--link" class="clock_link" %}</span>
            <span>Restaurant Visual Menu</span>
          </a>
        </div>
        {% endif %}

        {% if item.delivery_hours %}
        <div class="footer_icon clock">
          <div class="menu_item" role="menuitem" title="Delivery operating hours">
            <span>{% include svg/use.html id="icn--clock" class="clock_icon" %}</span>
            <span>Delivery: {{item.delivery_hours}}</span>
          </div>
        </div>
        {% endif %}

        {% if item.delivery_menu_link %}
        <div class="footer_icon clock">
          <a class="menu_item" role="menuitem" href="{{item.delivery_menu_link}}" title="{{item.name}} restaurant visual menu">
            <span>{% include svg/use.html id="icn--link" class="clock_link" %}</span>
            <span>Delivery Visual Menu</span>
          </a>
        </div>
        {% endif %}

        {% if item.whatsapp %}
        <div class="footer_icon whatsapp">
          <a class="menu_item" role="menuitem" href="https://wa.me/{{item.whatsapp}}" title="send {{item.whatsapp}} ungasan a message via WhatsApp">
            <span>
              {% include svg/use.html id="icn--whatsapp" class="whatsapp_icon" %}
            </span>
            <span>Msg for delivery & reservations</span>
          </a>
        </div>
        {% endif %}

        {% if item.address and item.maplink %}
        <div class="footer_icon address">
          <a class="menu_item" role="menuitem" href="{{item.maplink}}" title="location">

            <span class="address_icon">
            {% include svg/use.html id="icn--location" class="location_icon" %}
            </span>

            <div class="address_text">

              <div class="name"><strong>{{item.name}}</strong> </div>

              <div>{{item.address}}</div>
            </div>
          </a>
        </div>
        {% endif %}

        {% if item.facebook %}
        <div class="footer_icon facebook">
          <a class="menu_item" role="menuitem" href="{{item.facebook}}" title="{{item.name}} facebook page">
            <span>
              {% include svg/use.html id="icn--facebook" class="facebook_icon" %}
            </span>
            <span>{{item.facebook | replace: "https://www.facebook.com/", "" }}</span>
          </a>
        </div>
        {% endif %}


        {% if item.instagram %}
        <div class="footer_icon instagram">
          <a class="menu_item" role="menuitem" href="{{item.instagram}}" title="{{item.name}} ungasan on Instagram">
            <span>
              {% include svg/use.html id="icn--instagram" class="instagram_icon" %}
            </span>
            <span>{{item.instagram | replace: "https://www.instagram.com/", "" }}</span>
          </a>
        </div>
        {% endif %}

        {% if item.telephone %}
        <div class="footer_icon telephone">
          <a class="menu_item" role="menuitem" href="#" title="telephone">
            <span>{% include svg/use.html id="icn--localphone" class="localphone_icon" %}</span>
            <span>{{item.telephone}}</span>
          </a>
        </div>
        {% endif %}




        {% if item.email %}
        <div class="footer_icon email">
          <a class="menu_item email_link" role="menuitem" href="mailto:{{item.email}}" title="{{item.email}}">
            <span>
              {% include svg/use.html id="icn--email" class="email_icon" %}
            </span>
            <span>{{item.email}}</span>
          </a>
        </div>
        {% endif %}

        {% if item.qr == "show" %}

          {% if item.section == "one" %}
            <div class="footer_icon qr">
              <span>
                {% include svg/use.html id="icn--qr_to_website" class="qr_svg" %}
              </span>
            </div>
          {% endif %}

          {% if item.section == "two" %}
            <div class="footer_icon qr">
              <span>
                {% include svg/use.html id="icn--qr_to_ungasan_resto" class="qr_svg" %}
              </span>
            </div>
          {% endif %}

          {% if item.section == "three" %}
            <div class="footer_icon qr">
              <span>
                {% include svg/use.html id="icn--qr_to_bingin_resto" class="qr_svg" %}
              </span>
            </div>
          {% endif %}

        {% endif %}

        </div>

      {% endfor %}

    </div>

  </div>

  <div class="container">

    <div class="copyright">Copyright © {{ "now" | date: "%Y" }} {{site.company.legal_name}}. All rights reserved. <br class="break_on_phones"> Powered by <a href="https://junglestar.org">Junglestar</a></div>

  </div>

</footer>
