<head>
  <meta name="version" content="{{ site.version }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }} | {% if page.layout == 'home' %}{{ site.subtitle | upcase }}{% else %}{{ page.title | upcase }}{% endif %}</title>

  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords}}{% else %}{{ site.keywords }}{% endif %}">

  {% capture inline_css %}
    {% include main.scss %}
  {% endcapture %}
  <style>{{ inline_css | scssify }}</style>

  {% if site.google.verification %}
  <meta name="google-site-verification" content="{{ site.google.verification }}" />
  {% endif %}

  {% include favicons.html %}

  {% seo title=false %}

  {% include scripts/script_google_analytics.html %}

</head>
