<div class="header">

  <div class="header_block">

    <a class="logo_block group" href="/" title="back to home page">

      <h1 class="site_title">{{ site.title }}</h1>

    </a>

    <div class="header_icons">

      <div class="email_button">
        <a title="send Jean an email!" href="mailto:{{site.company.email}}">{% include svg/use.html id="icn--email" class="mail" %}</a>
      </div>

      <div class="toggle_button">
        {% include svg/use.html id="icn--day" class="day" %}
        {% include svg/use.html id="icn--night" class="night" %}
      </div>

    </div>

    {% if site.has_menu %}

      {% include menu.html %}

      {% include scripts/script_menu_toggle.html %}

    {% endif %}

  </div>

</div>
