<div class="header group ">

  <div class="container">

    {% if site.menu == "short_menu" %}
      <a class="logo_block group" href="/" title="home">
        {% if site.show_logo == "show" %}
          {% include svg/use.html id="icn--casaasia" class="logo" %}
        {% endif %}
        <h1 class="site_title">{{ site.title }}</h1>
      </a>

      {% include menu_short.html %}
    {% endif %}

    {% if site.menu == "long_menu" %}
    <div class="header_block">

      <a class="logo_block group" href="/" title="home">
        {% if site.show_logo == "show" %}
          {% include svg/use.html id="icn--casaasia" class="logo" %}
        {% endif %}
        <h1 class="site_title">{{ site.title }}</h1>
      </a>

      <div class="languages">
        <div class="language it">
          <a class="language_button" title="italiano" href="/it/">IT</a>
        </div>
        <div class="language en">
          <a class="language_button" title="english" href="/">EN</a>
        </div>
      </div>

      {% include menu_long.html %}

      {% include scripts/script_menu_toggle.html %}

    {% endif %}


  </div>

</div>
