//https://css-tricks.com/a-dry-approach-to-color-themes-in-css/
@function light-dark($light, $dark) {
  // If light mode is --ON, we get the `initial` value thus the var() fallback is used, and the --OFF value is set to a whitespace, returning `$light  `. Vice-versa for dark mode.
  @return var(--light, #{$light}) var(--dark, #{$dark});
}

:root {
  /* https://lea.verou.me/2020/10/the-var-space-hack-to-toggle-multiple-values-with-one-custom-property/ */
  --ON: initial;
  --OFF: ;
  //note than a whitespace between ":" and ";" is ESSENTIAL, or the whole thing breaks!
  //might need to turn off auto beautify SCSS in Atom...
}


.theme-default,
.theme-light {
	--light: var(--ON);
	--dark: var(--OFF);
}

.theme-dark {
	--light: var(--OFF);
	--dark: var(--ON);
}

@media (prefers-color-scheme: dark) {
	.theme-default {
		--light: var(--OFF);
		--dark: var(--ON);
	}
}


//define colors
:root {
  // universal colors
  $black: hsl(0,0%,10%);
  $white: hsl(0, 0%, 90%);
  $grey: hsl(0,0%,25%);
  $grey--light: hsl(0,0%,85%);
  $brand_color: hsl(205, 100%, 51%);

  $light-link: $grey;
  $dark-link: $grey--light;

	/* Define each variable in their light and dark mode */
	--text: #{ light-dark($black, $white) };
	--bg: #{ light-dark($white, $black) };
  --extreme: #{ light-dark(white, black) };
	--accent: #{ light-dark(mix($brand_color, $black), mix($brand_color, $white)) };
	--link: #{ light-dark($light-link, $dark-link) };
  --border: #{ light-dark(hsl(0,0%,80%), hsl(0,0%,20%)) };
  //header
  --text_header: #{ light-dark(black, white) };
  --bg_header: #{ light-dark(white, black) };

}



$font_family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$space: 2rem;
$space--small: 1rem;

//typography
$base_font_size--tiny: 17px;
$base_font-size--min: 17px;
$base_font_size--bp1: 18px;
$base_font_size--max: 19px;
$base_line_height: 1.4446;

$font_weight--min: 300;
$font_weight--light: 400;
$font_weight--reg: 500;
$font_weight--bold: 600;
$font_weight--heavy: 700;
$font_weight--max: 800;

$heading1: 2rem; //1.65rem;
$heading2: $heading1/8*6;
$heading3: $heading1/8*5;

// RESPONSIVE HEADINGS
$heading1_responsive: 4vw;
$heading1_min: 30px;
$heading1_max: 42px;

$heading2_responsive: 3.5vw;
$heading2_min: 26px;
$heading2_max: 38px;

$heading3_responsive: 3vw;
$heading3_min: 22px;
$heading3_max: 34px;

$heading4_responsive: 2.5vw;
$heading4_min: 20px;
$heading4_max: 31px;

$heading5_responsive: 2.25vw;
$heading5_min: 18px;
$heading5_max: 29px;

$heading6_responsive: 2vw;
$heading6_min: 16px;
$heading6_max: 25px;


//all svg icons are square:
$icon_size: 30px;
$food_icon_size: 24px;

//header stuff
$header_height: 330px;
$actual_fullscreen_minus_header_height: calc(100vh - 250px); //bs!

//box-shadows
$shadow--smooth:
0 2.2px 3.6px -15px rgba(0, 0, 0, 0.031),
0 6px 12.8px -15px rgba(0, 0, 0, 0.039),
0 14.5px 30.9px -15px rgba(0, 0, 0, 0.045),
0 48px 80px -15px rgba(0, 0, 0, 0.07);

$shadow--short:
0 1px 1.4px rgba(0, 0, 0, 0.03),
0 2.6px 3.5px rgba(0, 0, 0, 0.037),
0 5.3px 7.1px rgba(0, 0, 0, 0.041),
0 11px 14.6px rgba(0, 0, 0, 0.046),
0 30px 40px rgba(0, 0, 0, 0.07);


//text-shadows
$shadow--text: 1px 3px 10px rgba(20, 20, 20, 0.4);
$shadow--transition: box-shadow .2s ease;

$radius: 3px;

//// Predefined Break-points
$mediaMinWidth: 600px;
$mediaBp1Width: 840px;
$mediaMaxWidth: 1260px;

@import "1normalize", "2mixins", "2responsive_font", "3cmq", "4base", "5container", "6headings", "7menu", "8header", "9footer", "10links", "10body_wrapper", "11articles", "11svg", "12utils", "13nav", "14titles",  "15tag_cloud";
