<div class="menu_toggle_button" id="menu_toggle_button">
  {% include svg/use.html id="icn--burger" class="open" %}
  {% include svg/use.html id="icn--x" class="close" %}
</div>


<nav class="menu menu_header" role="menu" id="menu">

  {% for item in site.data.menu_long %}
    {% if page.url contains item.url %}
      <a class="menu_item active uppercase" role="menuitem" title="{{ item.name }}" href="{{ item.url }}">
        <span class="">{{ item.name }}</span>
      </a>
    {% else %}
      <a class="menu_item uppercase" role="menuitem" title="{{ item.name }}" href="{{ item.url }}">
        <span class="page_title">{{ item.name }}</span>
      </a>
    {% endif %}
  {% endfor %}

</nav>
