.body_content_wrapper {
  color: var(--text, black);
  background: var(--bg, white);

  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;

  @include media("screen", ">bp1Width") {
    margin-left: 10vw;
    min-height: 100vh;
  }

}
