// just for content link, or for footer nor header nor menus

a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: var(--link, grey);

  &:focus,
  &:hover {
    color: var(--accent, blue);
  }

  .tags & {
    border-bottom: 1px solid var(--link, grey);
  }

}
