// just for content link, or for footer nor header nor menus

a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: var(--link_color);

  &:focus,
  &:hover {
    color: var(--link_color_hover);
  }

}
