.article_list {
  margin-top: $space--small;
  margin-bottom: $space;
}

.article_link {
  display: block;
  margin-top: $space--small;
  padding-bottom: $space--small;
  border-bottom: 1px var(--border, LightGray) solid;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  line-height: 1.1;
}

.article_content {
  margin-top: $space--small;
  padding-top: $space;
  margin-bottom: $space;
  border-top: 1px solid var(--border, LightGray);
  border-bottom: 1px solid var(--border, LightGray);
}

.article .article_title {
  margin-top: $space--small;
}
