.center {
  text-align: center;
}

.center_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.break_on_phones,
.show_on_phones {
  @include media("screen", ">minWidth") {
    display: none!important;
  }
}

.maybe_show {
  display: block;
  @include media("screen", ">bp1Width") {
    display: none!important;
  }
}

.hidden,
.hide {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.margin_top {
  margin-top: $space;
}

.margin_bottom {
  margin-bottom: $space;
}

.padding_top {
  padding-top: $space;
}

.padding_bottom {
  padding-bottom: $space;
}

.border_top {
  border-top: 1px solid grey;
}

.border_bottom {
  border-bottom: 1px solid grey;
}

.placeholder {
  opacity: .25;
}

.full_width {
  width: 100%;
  display: flex;
  justify-content: center;

}

.bg_white {
  background-color: white;
}

.box_shadow,
.shadow {
  box-shadow: $shadow--short;
}

.red {
  color: red;
}
