html {

  scroll-behavior: smooth;
  box-sizing: border-box;

  font-size: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: $base_line_height;
  font-weight: 400;
  font-family: $font_family;
  font-size: $base_font_size--tiny;
  @include media("screen", ">minWidth") {
    font-size: $base_font_size--min;
  }
  @include media("screen", ">bp1Width") {
    font-size: $base_font_size--bp1;
  }
  @include media("screen", ">maxWidth") {
    font-size: $base_font_size--max;
  }

  //bottom overscroll looks like footer...
  background-color: var(--extreme, white);
}


body {
  margin: 0;
  padding: 0;

}

// necessary for sticky footer
.body_content_wrapper {
  color: var(--text, black);
  background: var(--bg, white);

  position: relative;
  z-index: 1;
  min-height: 100vh;
  box-shadow: $shadow--short;
}

em {
  font-size: 90%;
  letter-spacing: -0.5px;
  line-height: 1;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

a,
button,
input,
label,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    outline: -webkit-focus-ring-color auto 0;
  }
}

//not needed probably
.group:after,
.group:before {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

//not working
// img,
// video {
//   aspect-ratio: attr(width) / attr(height);
// }

svg {
  width: 100%;
  height: 100%;
}

p {
  padding-top: $space--small;
  padding-bottom: $space--small;
}

blockquote {
  margin-left: $space--small;
  margin-right: $space--small;
  p {
    padding-top: $space--small/4;
    padding-bottom: $space--small/4;
    padding-left: $space--small/2;
    border-left: 2px solid var(--text, black);
  }
}
