.container {
  max-width: 100%;
  margin: 0 5vw;

  @include media("screen", ">minWidth") {
    margin: 0 8vw;
  }

  // @include media("screen", ">bp1Width") {
  //   margin: 0 12vw;
  // }
  //
  // @include media("screen", ">maxWidth") {
  //   margin: 0 16vw;
  // }

  p {
    margin: 0 0 0 auto;
    max-width: 100%;
    @include media("screen", ">minWidth") {
      max-width: 600px;
    }
  }

  dl,
  ol,
  ul {
    max-width: 100%;
    @include media("screen", ">minWidth") {
      max-width: 600px;
    }
    @include media("screen", ">bp1Width") {
      max-width: 400px;
    }
    @include media("screen", ">maxWidth") {
      max-width: 500px;
    }
    margin-left: auto;
  }
}

.bungkus {
  padding: 0;
  height: 100%;
  position: relative;
  z-index: 8;
}

.text_content {
  max-width: 960px;
  @include media("screen", ">bp1Width") {
    margin: 0 auto;
  }
}
