.theme-default,
.theme-light {
  svg.day {
    display: none;
  }
}

.theme-dark {
  svg.night {
    display: none;
  }
}

.header {
  background-color: var(--bg_header, black);
  color: var(--text_header, white);

  @include media("screen", ">bp1Width") {
    position: fixed;
    bottom: -8vw;
    padding-bottom: 1rem;
  }

  .header_block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $space--small;
    width: 100%;

    svg {
      width: 36px;
      height: 36px;
    }
    .toggle_button {
      cursor: pointer;
      display: flex;
      
      &:focus,
      &:hover {
        color: var(--accent, blue);
      }
    }

    @include media("screen", ">bp1Width") {
      transform: rotate(-90deg);
      transform-origin: top left;
      height: 10vw;
      padding: 0;
      margin: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .site_title {
    color: var(--header_text_color);
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    @include media("screen", ">bp1Width") {
      margin-right: $space;
    }
  }
}

.header_icons {
  display: flex;
  align-items: center;
  justify-content: center;

  .email_button {
    border: 0 none;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    a svg {
      margin-top: 8px;
    }
    @include media("screen", ">bp1Width") {
      transform: rotate(90deg);
      transform-origin: center center;
      padding-right: 0;
      padding-top: 10px;
    }

  }
}
