.header {
  -webkit-box-shadow: $shadow--smooth;
  box-shadow: $shadow--smooth;
  background-color: white;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: $space--small 0;
    margin: 0 $space--small/2;

    @include media("screen", ">bp1Width") {
      flex-direction: row;
      //align-items: center;
      padding-bottom: 0;
    }
    @include media("screen", ">maxWidth") {
      flex-direction: row;
      align-items: flex-start;
      padding-top: $space--small/2;
      padding-bottom: $space--small/2;
    }
  }
  // //when site has a short menu
  // .short_menu & {
  //   align-items: center;
  //
  //   nav {
  //     display: flex;
  //     justify-content: center;
  //   }
  //
  //   .logo_block {
  //     padding-bottom: 0;
  //   }
  // }
  //when site has a long menu
  .long_menu & {
    nav {
      display: none;
      @include media("screen", ">bp1Width") {
        display: inherit;
        padding: 0 0 10px;
      }
      @include media("screen", ">maxWidth") {
        display: inherit;
        padding: 0;
      }

      &.show {
        display: block;
        min-width: 100%;
        background-color: white;
        padding-top: $space--small;
        @include media("screen", ">bp1Width") {
          min-width: auto;
          border-bottom: 0 none;
        }

        .menu_item {
          //a
          border-bottom: 1px solid $grey--light;
          @include media("screen", ">bp1Width") {
            border-bottom: 0 none;
          }

          &:last-child {
            border: 1px solid $grey--light;
            border-radius: $radius;
            margin-top: -1px;
          }
        }
      }
    }
  }

  .menu_toggle_buttom {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 42px;
    height: 42px;
    padding: 6px;

    &:focus,
    &:hover {}
    @include media("screen", ">bp1Width") {
      display: none;
    }

    .close {
      display: none;
    }

    &.menu_is_open {
      .close {
        display: block;
      }

      .open {
        display: none;
      }
    }
  }

  .logo_block {
    //a
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
    // no underline here
    border-bottom: 0 none;

    &:hover {
      border-bottom: 0 none;
    }
    @include media("screen", ">bp1Width") {
      padding-bottom: 0;
    }
  }

  .logo {
    //svg
    width: 42px;
    height: 42px;
    margin-right: $space--small/4;
    stroke: black;
  }

  .site_title {
    font-family: $font_family_serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2.15rem;
    letter-spacing: -2px;
    position: relative;
    top: 2px;
    left: 6px;
    @include media("screen", ">bp1Width") {
      margin-right: $space;
    }
  }
}

.header_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // @include media("screen", ">bp1Width") {
  //   text-align: center;
  // }
}

.menu_header {
  .menu_item {
    //a
    font-size: 1.1rem;
    margin-right: $space--small/5;
    margin-left: $space--small/5;
    padding-right: $space--small/2;
    padding-left: $space--small/2;
    justify-content: center;

    &:last-child {
      border: 1px solid $grey;
      border-radius: $radius;
      margin-top: -1px;
    }

    &.active {
      .long_menu & {
        background-color: $grey--light;
        @include media("screen", ">bp1Width") {
          background-color: transparent;
        }
      }
    }
    @include media("screen", ">bp1Width") {
      justify-content: flex-start;

      &.active {
        background-color: transparent;
      }
    }
  }

  span {
    text-align: center;
    @include media("screen", ">bp1Width") {
      text-align: left;
    }
  }
}

.languages {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;

  @include media("screen", ">bp1Width") {
    padding-top: 4px;
  }

  .language {
    margin-right: 4px;
  }

  .language_button {
    border-radius: $radius;
    height: 42px;
    padding: 10px;
    border: 1px solid $grey--light;
    background-color: $white;
  }
}
