.footer {
  background-color: $grey--light;
  display: block;
  width: 100%;
  padding-top: 8vw;
  padding-bottom: 8vw;

  .container {
    box-shadow: none;
    display: flex;
    flex-direction: column;

    @include media("screen", ">minWidth") {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    @include media("screen", ">bp1Width") {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    @media only screen and (min-width: 1150px) {
      width: 90%;
      flex-direction: row;
    }

    @include media("screen", ">maxWidth") {
      max-width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .section {
    margin-left: $space--small;
    margin-right: $space--small;
    @media only screen and (min-width: 1150px) {
      width: 32%;
    }
  }

  .title {
    font-family: $font_family_serif;
    letter-spacing: -.5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    padding-top: $space;
    padding-bottom: $space/6;
    margin-bottom: $space/6;
    width: 100%;
    @media only screen and (min-width: 1150px) {
      padding-top: 0;
      width: auto;
    }
  }

  svg {
    width: $icon_size;
    height: $icon_size;
    margin-right: 10px;
    opacity: 70%;

    &.whatsapp {
      opacity: 1100%;
    }

    &.qr {
      width: 100px;
      height: 100px;
      margin-top: $space;
      margin-right: 0;
      margin-left: -6px;
    }
  }
}

.menu_footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menu_item {
    min-height: 42px;
    display: flex;
  }

  .email a span,
  .other_website a span {
    text-transform: none;
  }
}

.menu_contacts .name {
  color: black;
}

.footer_company_name {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: $space;
  margin-bottom: $space;
  text-align: center;
  @include media("screen", ">minWidth") {
    text-align: left;
  }
}

.copyright {
  font-size: 12px;
  text-align: center;
  margin-top: $space*2;
  width: 100%;

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer .expandable_menu .menu_item:not(.title) {
  border-bottom: 0 none;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0;
  background-color: transparent;
  align-items: center;
}

.footer .expandable_menu .menu_item.title {
  background-color: transparent;
  margin-bottom: 1rem;
}
