---

---
<!DOCTYPE html>
<html lang="{% if page.language %}{{page.language}}{% else %}{{site.language}}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="{{ page.title | slugify }} {% if site.menu %}{{ site.menu }}{% endif %}">

    {% include svg/defs.html %}

    {% include header.html %}

    {% if
      page.slug == "accommodation" or
      page.slug == "alloggio" %}

      {% include blocks/slideshow_accommodation.html %}

    {% endif %}

    <div class="bungkus group">

      <div class="container" role="main">

        <div class="product_text">
          {{content}}
        </div>

      </div>

    </div>


    {% include footer.html %}

    {% if
      page.slug == "accommodation" or
      page.slug == "alloggio" or
      page.slug == "restaurants" or
      page.slug == "ristoranti" %}

      <script>
        //take care of slideshow using bg images
        var list = document.querySelectorAll("div[data-src]");

          for (var i = 0; i < list.length; i++) {
          var url = list[i].getAttribute('data-src');
          list[i].style.backgroundImage="url('" + url + "')";
        }
        //take care of images captions
        var list = document.querySelectorAll("div[data-caption]");

          for (var i = 0; i < list.length; i++) {
          var string = list[i].getAttribute('data-caption');
          list[i].innerHTML+= string ;
        }
      </script>

      {% include scripts/script_slideshow.html %}

      <script type="text/javascript">
        var slideshowEl = document.querySelector('.slideshow');
        Slideshow(slideshowEl, {
          allowSwipe: true,
          showIndicators: false,
          autoplay: true,
          // infinite loop
          loopSlides: true,
          transitionEffect: "slide"
        });
      </script>

    {% endif %}

    {% include scripts/script_mobile_viewport.html %}

    {% include scripts/script_ext_link.html %}

    {% include scripts/script_append_to_copy_action.html %}

  </body>

</html>
