---

---
<!DOCTYPE html>
<html class="theme-default" lang="{% if page.language %}{{page.language}}{% else %}{{site.language}}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="{{ page.title | slugify }} {% if site.menu %}{{ site.menu }}{% endif %}">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="body_content_wrapper">

      <div class="container" role="main">

        {{content}}

      </div>

      {% include footer.html %}

    </div>


    {% include scripts/script_colormode.html %}

    {% include scripts/script_ext_link.html %}

    {% include scripts/script_append_to_copy_action.html %}

  </body>

</html>
